// Responsive breakpoints
$responsive-xs-max-width: 767px;
$responsive-md-min-width: 992px;
$responsive-lg-min-width: 1200px;

// Colors
$title-color: #0000ff;
$article-title-color: #ff0000;
$article-content-color: #ff9434;

// Fonts
// h3
// $title-font: font-family: Nunito,Lucida Sans,Lucida Sans Regular,Lucida Grande,Lucida Sans Unicode,Geneva,Verdana,sans-serif;
// font-weight: 700;
// font-size: 1.5625rem!important;
//     line-height: 1.4em!important;

// .v-application, body, h1, h2, h4, h5, h6, subtitle
// $main-font: font-family: Source Sans Pro,Roboto,Helvetica,Arial,sans-serif!important;

// .application
// line-height: 1.5;